{% extends "base.html" %}

{% block content %}
  <h2>edit post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input class="input-text" type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      {% if user.is_post_owner(id) %}
        <a class="button-cancel" href="/blog/{{id}}">cancel</a>
        <input type="submit">
      {% endif %}
    </form>
{% endblock %}
