{% extends "base.html" %}

{% block content %}

    {% for p in posts %}
        <div class="post">
            <div class="post-heading">
                <div class="post-title">
                  <a class="post-link" href="/blog/{{p.key().id()}}">{{p.subject}}</a>
                </div>

                <div class="post-date">
                  {{p.created.strftime("%b %d, %Y")}}
                </div>

                <div class="post-edit">
                    <a class="post-link" href="/blog/editpost/{{p.key().id()}}">edit</a>
                </div>
            </div>

            <div class="post-content">
            {{p.content | replace('\n', '<br>') | safe }}
            </div>

            <div class="post-delete">
                <a class="post-link" href="/blog/deletepost/{{p.key().id()}}">delete</a>
            </div>

            <div class="post-like">
                <span class="post-likes">{{p.get_likes()}}</span>
                <a class="post-link" href="/blog/likepost/{{p.key().id()}}">like</a>
            </div>
        </div>
        <br><br>
    {% endfor %}

{% endblock %}
