{% extends "base.html" %}

{% block content %}
    <h2>Signup</h2>
    <form method="post">
        Username:<br>
        <input type="text" name="username" value="{{username}}">
        <span class="error">{{error_username}}</span><br>

        Password:<br>
        <input type="password" name="password" value="">
        <span class="error">{{error_password}}</span><br>

        Verify Password:<br>
        <input type="password" name="verify" value="">
        <span class="error">{{error_verify}}</span><br>

        Email (optional):<br>
        <input type="text" name="email" value="{{email}}">
        <span class="error">{{error_email}}</span><br><br>

        <input type="submit">
    </form>
{% endblock %}
